<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/mde/a5/ErasmusPrograms"
			class = "org.xtext.mde.a5.erasmusPrograms.ErasmusProgramsPackage"
			genModel = "model/generated/ErasmusPrograms.genmodel" />
	</extension>
</plugin>
